/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    margin: auto;
    overflow: hidden; /* Ensure images don't overflow */
    position: relative;
}

/* Hide the images by default */
.image {
    display: none;
}

/* Fade animation */
.fade {
    animation: fade 2s; /* Use shorthand for animation */
}

@keyframes fade {
    from {opacity: 0.4;}
    to {opacity: 1;}
}
