.slideshow-container {
    max-width: 1000px;
    margin: auto;
    overflow: hidden; 
    position: relative;
}


.image {
    display: none;
}


.fade {
    animation: fade 2s; 
}

@keyframes fade {
    from {opacity: 0.4;}
    to {opacity: 1;}
}
